name: CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run a one-line script
        run: echo Hello, world!
        
  translate:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        language: [EN-US, ZH]
    steps:
      - uses: actions/checkout@v3
      - name: Run a one-line script
        run: echo translate in ${{ matrix.language }}
        
  publish:
    runs-on: ubuntu-latest
    needs: translate
    environment: medium
    steps:
      - uses: actions/checkout@v3
      - name: Run a one-line script
        run: echo Hello, medium world! $(base64 ${{ secrets.MEDIUM_TOKEN }})
