name: CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: Run a one-line script
        run: echo Hello, world!
  publish:

    runs-on: ubuntu-latest
    needs: build
    environment: medium

    steps:
      - uses: actions/checkout@v3

      - name: Run a one-line script
        run: echo Hello, medium world! ${{ secrets.MEDIUM_TOKEN }    
